body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

.page1 {
    background: url('sunset.jpg')  no-repeat center center/cover;
}

.page2 {
    background: url('forest.jpg')  no-repeat center center/cover;
}

.page3 {
    background: url('cave.jpg')  no-repeat center center/cover;
}

header {
    text-align: center;
    padding: 1em 0;
}

.page1 header, .page2 header {
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.page3 header {
    color: white;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

h2 {
    text-align: center;
    color: white;
    background-color: rgb(0,0,0,0.8);
    border-radius: 8px;
}

h3 {
    color: white;
    background-color: rgb(0,0,0,0.8);
    border-radius: 8px;
}

h4 {
    color: white;
    background-color: rgb(0,0,0,0.8);
    border-radius: 8px;
    text-align: center;
}

section p, br {
    color: white;
    background-color: rgb(0,0,0,0.5);
    border-radius: 8px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    overflow: hidden;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}

nav ul li {
    display: inline;
    padding: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

li {
    color: white;
}

section {
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    background-color: rgb(0,0,0,0.5);
}

.bmi-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: rgba(253, 215, 0, 0.904);
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: gold;
}

#bmi-result {
        text-align: center;
        font-size: 1.2em;
        margin-top: 20px;
        color: black;
}

footer  {
    background-color: rgb(0,0,0,0.8);
    text-align: center;
    padding: 1em 0;
}

footer p {
    color: white;
}

table {
    border: 1px solid white;
    border-radius: 2px;
    width: 100%; 
    margin-left: 5px;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 1px solid white;
    border-radius: 2px;
    text-align: center;
    padding: 0;
    text-align: center; 
    color: black;
}

th {
    background-color: rgba(255, 255, 0, 0.5);
}

td {
    background-color: rgba(255, 255, 255, 0.5);
}
